@model Blog.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="wrapper col-xs-12">

    <section id="registerForm">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h1>@ViewBag.Title.</h1>
            <p>Create a new account.</p>

            @Html.ValidationSummary("", new {@class = "text-danger"})

            
            @Html.TextBoxFor(m => m.Email, new {placeholder = "Email", @class = "email"})
            <div>
                <p class="email-help">Please enter your email.</p>
            </div>
            
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "password" })
            <div>
                <p class="password-help">Please enter your password.</p>
            </div>

            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "confirm-password" })
            <div>
                <p class="confirmpassword-help">Please confirm your password.</p>
            </div>

            @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name", @class = "fullname" })
            <div>
                <p class="fullname-help">Please enter your full name.</p>
            </div>

            <input type="submit" class="submit btn btn-default" value="Register"/>

            <p>
                @Html.ActionLink("Already have an account", "Login")
            </p>

        }
    </section>
    <script>
        $(".email").focus(function () {
            $(".email-help").slideDown(500);
        }).blur(function () {
            $(".email-help").slideUp(500);
        });

        $(".password").focus(function () {
            $(".password-help").slideDown(500);
        }).blur(function () {
            $(".password-help").slideUp(500);
        });

        $(".confirm-password").focus(function () {
            $(".confirmpassword-help").slideDown(500);
        }).blur(function () {
            $(".confirmpassword-help").slideUp(500);
        });

        $(".fullname").focus(function () {
            $(".fullname-help").slideDown(500);
        }).blur(function () {
            $(".fullname-help").slideUp(500);
        });
    </script>
</div>
@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
