@using Blog.Classes
@using Blog.Models

@{
    ViewBag.Title = "Home";
}

@model List<PostViewModel>
<div class="marg col-md-12">
    @using (Ajax.BeginForm("Search", null,
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "results",
                                    InsertionMode = InsertionMode.Replace
                                }, new { id = "searchForm" }))
    {
        <input type="text" name="query" placeholder="Live Search"
               oninput="$('#searchForm').submit()" />
            <input type="submit" value="Search" />
    }
    <div id="results">
        @Html.Partial("_PostResult", Model)
    </div>
</div>
@*<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-6">
            <h2 class="title"><a href="/Posts/Details/@post.Id">@post.Title</a></h2>
            <div class="about">
                Posted by 
                @if (post.Author != null)
                {
                    <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                on <i>@post.Date</i>
            </div>
            <div class="body">
                @Utils.CutText(post.Body)
               @*@Html.Raw(post.Body))*@*@*@
            @*</div>
        </article>
    }
</section>*@*@*@*@
