@model Blog.Models.Post

@{
    ViewBag.Title = "Create";
}
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="wrapper create col-xs-12">
    <section id="createForm">

        @using (Html.BeginForm("Create", "Posts", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            <h1 style="margin-bottom: 20px;">Create New Post</h1>
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                @Html.TextBoxFor(model => model.Title, new {placeholder = "Title", @class = "title"})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                <div>
                    <p class="title-help">Please enter a title.</p>
                </div>


                @*@Html.Label("Image", new { @class = "control-label col-md-2" })*@

                <input type="file" id="Image" name="upload"/>
                <div>
                    <p class="image-help">Please choose an image.</p>
                </div>


                @Html.TextAreaFor(model => model.Body, new {@placeholder = "Body", style="overflow:hidden", @class = "body", onkeyup = "adjust_textarea(this)"})
                @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
                <div>
                    <p class="body-help">Please enter a content.</p>
                </div>

                @Html.TextBoxFor(model => model.TagsString, new {placeholder = "Tags", @class = "tags"})
                @Html.ValidationMessageFor(model => model.TagsString, "", new {@class = "text-danger"})
                <div style="float: left;">
                    <p class="tags-help">Please enter some tags.</p>
                </div>

                <input type="submit" value="Create" style="margin-bottom: 30px;" class="submit btn btn-default"/>

            </div>
        }
    </section>
</div>

<script>
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight) + "px";
    }
    $(".title").focus(function () {
        $(".title-help").slideDown(500);
    }).blur(function () {
        $(".title-help").slideUp(500);
    });

    $(".body").focus(function () {
        $(".body-help").slideDown(500);
    }).blur(function () {
        $(".body-help").slideUp(500);
    });

    $(".tags").focus(function () {
        $(".tags-help").slideDown(500);
    }).blur(function () {
        $(".tags-help").slideUp(500);
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
