@using Blog.Classes
@using Blog.Models
@model PostViewModel

@{
    ViewBag.Title = "Details";
}

<div class="cont col-md-12">
    <div class="info col-md-7">

        <div class="title col-md-11">
            <h4 class="deepshadow">@ViewBag.Post.Title</h4>
            <h6><i class="boldtext">~Posted on @ViewBag.Post.Date.ToString("MMMM dd, yyyy") by @ViewBag.Post.Author.FullName</i></h6>
        </div>

        <div class="content col-md-11">
            @Html.Raw(ViewBag.Post.Body)
        </div>
        
        <div id="list3" class="tags">
            <ul>
                <li>Tags: </li>
                @if (ViewBag.Post.Tags.Count > 0)
                {
                    foreach (var tag in ViewBag.Post.Tags)
                    {
                        <li class="tagLI">
                            # @tag.Text
                        </li>
                    }
                }
                else
                {
                    <li>
                        <i class="boldtext">(no tags)</i>
                    </li>
                }
            </ul>
        </div>

        <div id="list2" class="comments">
            <ul class="commentsUL">
                <h2>Comments</h2>
                <hr/>
                <div id="results">
                    @Html.Partial("_CommentResult", Model)
                </div>
            </ul>
            <div class="pad" id="post-details-@ViewBag.Post.Id">

                @using (Ajax.BeginForm("SaveComment", null, new { id = ViewBag.Post.Id },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "results",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "ajaxSuccess",
                }, new { id = "commentForm" }))
                {
                    
                    <textarea class="form-control floating" name="text" placeholder="Write a comment..."></textarea>
                    <div class="subbutton">
                        <input type="submit" class="btn btn-default" value="Post" />
                    </div>
                }

            </div>

            <script>
                var ajaxSuccess = function() {
                    $('#commentForm')
                        .each(function() {
                            this.reset();
                        });
                }
            </script>
            
        </div>

        <div class="actions col-md-11">
            <p>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Back to List", "Index")
                    @:|

                    if (User.IsInRole("Administrators"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = ViewBag.Post.Id })
                        @:|
                    }

                    if (ViewBag.Post.Author != null && User.Identity.Name == ViewBag.Post.Author.UserName)
                    {
                            @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Post.Id })
                            @:|
                    }
                }

                @Html.ActionLink("Back To Home", "Index", "Home")

            </p>
        </div>
    </div>

    <div id="list" class="recent col-md-3">
        <h4 class="hit-the-floor">Recent Posts</h4>
        <hr/>
        <ul>
            @foreach (var post in ViewBag.Posts)
            {
                <li>
                    <a href="/Posts/Details/@post.Id">
                        <div>
                            <h4><em>@post.Title</em></h4>
                            <h6 class="title">
                                <i class="boldtext">@post.Date.ToString("MMMM dd, yyyy")</i> by <i class="boldtext">@post.Author.FullName</i>
                            </h6>
                        </div>
                    </a>
                </li>  
            }
        </ul>
    </div>

</div>