@using Blog.Classes
@using Blog.Models
@using Microsoft.Ajax.Utilities
@model Post

@{
    ViewBag.Title = "Details";
}

<div class="text-white cont col-xs-12">
    <div class="info col-xs-7">

        <div class="title col-xs-11">
            <h4 class="deepshadow">@Model.Title</h4>
            <h6><i class="boldtext">~Posted on @Model.Date.ToString("MMMM dd, yyyy") by @Model.Author.FullName</i></h6>
        </div>

        @if (Model.Images.Any(f => f.FileType == FileType.Avatar))
        {
            <div class="image col-xs-11" style="text-align: center; margin-top: 15px;">
                <img src="~/File?id=@Model.Images.First(f => f.FileType == FileType.Avatar).FileId" class="image-parameters" id="myImg" alt="FullScreen"/>
                <div id="myModal" style="margin-top: 50px;" class="modal">
                    <span class="close">×</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
        }

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                modalImg.alt = this.alt;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>

        <div class="content col-xs-11">
            @Html.Raw(Model.Body)
        </div>

        <div id="list3" class="tags col-xs-11">
            <ul>
                <li>Tags: </li>
                @if (Model.Tags.Count > 0)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <li class="tagLI">
                            # @tag.Text
                        </li>
                    }
                }
                else
                {
                    <li>
                        <i class="boldtext">(no tags)</i>
                    </li>
                }
            </ul>
        </div>

        @{ PostViewModel results = ViewBag.Result;}
        <div id="list2" class="comments">
            <ul class="commentsUL">
                <h2>Comments</h2>
                <hr />
                <div id="results">
                    @Html.Partial("_CommentResult", results)
                </div>
            </ul>
            <div class="pad" id="post-details-@Model.Id">

                @using (Ajax.BeginForm("SaveComment", null, new { id = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "ajaxSuccess",
            }, new { id = "commentForm" }))
                {

                    <textarea class="form-control floating" name="text" placeholder="Write a comment..."></textarea>
                    <div class="subbutton">
                        <input type="submit" class="read btn btn-default" value="Post" />
                    </div>
                }

            </div>

            <script>
                var ajaxSuccess = function() {
                    $('#commentForm')
                        .each(function() {
                            this.reset();
                        });
                }
            </script>

        </div>

        <div class="actions col-xs-11">
            <p>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Back to List", "Index")
                    @:|

                    if (User.IsInRole("Administrators"))
                    {
                        @Html.ActionLink("Delete", "Delete", new {id = Model.Id})
                        @:|

                        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
                        @:|
                    }
                }

            </p>
        </div>
    </div>

    <div id="list" class="recent col-xs-3">
        <h4 class="hit-the-floor text-white">Recent Posts</h4>
        <hr />
        <ul>
            @foreach (var post in ViewBag.Posts)
            {
                <li class="marg-bot">

                    <div>
                        <a href="/Posts/Details/@post.Id">
                            <div class="title boldtext">@post.Title</div>
                        </a>
                        <div class="text-size text">
                            @post.Date.ToString("MMMM dd, yyyy") by @post.Author.FullName
                        </div>
                    </div>

                </li>
            }
        </ul>
    </div>

</div>