@model PagedList.IPagedList<Blog.Models.Post>
@using Blog.Classes
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

@{
    ViewBag.Title = "Index";
}
<div>
    <div style="display: inline-block; padding-top: 15px;">
        <h1 class="text-white">Posts</h1>
    </div>
    <div style="display: inline-block; padding-left: 15px;">
        @Html.ActionLink("+", "Create", new { id = "create" }, new { @class = "btn btn-sm btn-success" })
    </div>
</div>
<table class="text-white table table-responsive col-xs-12">
    <tr>
        <th class="col-xs-2">
            Title
        </th>
        <th class="col-xs-4">
            Content
        </th>
        <th class="col-xs-1">
            Date
        </th>
        <th class="col-xs-2">
            Author
        </th>
        <th class="col-xs-3">
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-xs-2">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="col-xs-4">
                @Utils.CutText(item.Body)
            </td>
            <td class="col-xs-1">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="col-xs-2">
                @if (item.Author != null)
                {
                    @item.Author.FullName
                    @: (@item.Author.UserName)
                }
                else
                {
                    <i>(no author)</i>
                }
            </td>
            <td class="col-xs-3">
                @if (User.IsInRole("Administrators") || (item.Author != null && User.Identity.Name == item.Author.UserName))
                {
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new { @class = "btn btn-sm btn-default" })
                }
                @Html.ActionLink("Details", "Details", new {id = item.Id}, new { @class = "btn btn-sm btn-default"})
                @if (User.IsInRole("Administrators") || (item.Author != null && User.Identity.Name == item.Author.UserName))
                {
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new { @class = "btn btn-sm btn-default" })
                }
            </td>
        </tr>
    }

</table>
<br />
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
